.navbar-brand h1{
    font-family: 'Fascinate', cursive;
    font-weight: bold;
    letter-spacing: 0.5rem;
}
.navbar-brand p{
    font-family: 'Syne Mono', monospace;
    font-weight: inherit;
    letter-spacing: 0.2rem;
}
.nav-item{
    font-family: 'Syne Mono', monospace;
    font-weight: bold;
    font-size: large;
}
.head{
    font-family: 'Redressed', cursive;
    font-weight: bold;
}